body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.head-info{
background-color: green;
color: white;
text-align: center;
}
.head-info h1{
  padding: 10px;
}


.note{
  border: 1px solid;
  height: auto;
  width: 250px;
}